<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">Built by <a href="http://kartikarora.me" target="_blank">Kartik Arora</a></p>
        <p class="navbar-text pull-left">View on <a href="https://github.com/kartikarora/android-permissions"
                                                    target="_blank"><i class="fa fa-lg fa-github"
                                                                       aria-hidden="true"></i></a>
        </p>

        <a href="{{ url_for('api') }}" class="navbar-btn btn pull-right">API Docs</a>

    </div>
</div>