<div class="row">
    <div class="text-center">
        <h2>Search for an Android Permission, and be <b>AMAZED</b></h2>
        <p>&nbsp;</p>
        <div class="permission-search col-md-6 col-md-offset-3">
            <div class="input-group col-md-12">
                <input id="search" type="text" class="form-control" placeholder="ACCESS_CHECKIN_PROPERTIES"/>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p>&nbsp;</p>
    </div>
    <div id="perm" class="col-md-12"></div>
</div>