<div class="row">
    <div class="text-center">
        <h2>All the permissions, you're welcome</h2>
    </div>
    <div class="col-md-12">
        <p>&nbsp;</p>
    </div>
    {% for permission_four in permissions|sort|slice(4) -%}
        {%- for permission in permission_four -%}
            <div class="col-md-3">
                <h5><a href="{{ url_for('detail',permission=permission) }}">{{ permission }}</a></h5>
            </div>
        {%- endfor %}
    {%- endfor %}
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>